<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>378288579729-0p0mc4o7in1hjlgffbjkehs4etq09sji.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.378288579729-0p0mc4o7in1hjlgffbjkehs4etq09sji</string>
	<key>API_KEY</key>
	<string>AIzaSyCf-B6AbogXBbEvVJcY1_sAJ8kYf5lc-Bw</string>
	<key>GCM_SENDER_ID</key>
	<string>378288579729</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recentIt</string>
	<key>PROJECT_ID</key>
	<string>recent-it</string>
	<key>STORAGE_BUCKET</key>
	<string>recent-it.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:378288579729:ios:68b343c411f2acf3064b30</string>
</dict>
</plist>